<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试请求</title>
</head>
<body>
    <form action="/img/OwnImg" method="post">
        <label>文件路径：<input name="imgPath" id="imgPath" value="/data/emog/img/123.jpg"></label>
        <label>字体：<input name="fontSize" id="fontSize" value="24"></label>
        <label>起始横坐标：<input name="positionX" id="positionX" maxlength="8" value="35"></label>
        <label>起始纵坐标：<input name="positionY" id="positionY" maxlength="8" value="35"></label>
        <label>文本内容：<input name="content" id="content" maxlength="8" value="好可怕啊！"></label>
        <div><button type="submit">确认</button> </div>
    </form>
</html>
</body>